CairoSVG==0.5
CherryPy==3.2.2
Django==1.4.3
Flask==0.9
Ghost.py==0.1b2
Jinja2==2.6
Logbook==0.4.1
Markdoc==0.6.6
Markdown==2.2.1
PIL==1.1.7
PyOpenGL==3.0.2
PyOpenGL-accelerate==3.0.2
PyYAML==3.10
Pycco==0.3.0
Pygments==1.6
SQLAlchemy==0.8.0
Sphinx==1.2b1
Twisted==12.3.0
-e git+git@github.com:zacharyvoase/urlobject.git@5d19b429e365146cd2105d02d548ab5706c544cf#egg=URLObject-dev
Visitor-Content-Library==2.4.1dev
WTForms==1.0.2
WebOb==1.2.3
Werkzeug==0.8.3
amqplib==1.0.2
anyjson==0.3.3
argparse==1.2.1
billiard==2.7.3.18
bunch==1.0.1
calabash==0.0.3
celery==2.4.5
celery-with-redis==3.0
cffi==0.6
composerd==0.0.1
configobj==4.7.2
coverage==3.6b1
cssselect==0.8
-e git+git@github.com:zacharyvoase/curly.git@f2c5ec6fd8b91667a71265cd045f853db676b133#egg=curly-dev
dirspec==4.1.91
distribute==0.6.30
dj-database-url==0.2.1
docutils==0.10
exchequer==0.0.1
flickrapi==1.4.2
gunicorn==0.17.4
houdini==0.0.1
ipython==0.13.1
jsonpipe==0.0.8
keyring==1.2.2
kombu==1.5.1
kombu-sqlalchemy==1.1.0
logilab-astng==0.24.1
logilab-common==0.58.1
lxml==3.1.1
matplotlib==1.2.1
meld3==0.6.9
mock==1.0.1
nltk==2.0.4
nose==1.2.1
nosexcover==1.0.7
numpy==1.6.2
pandas==0.10.1
path.py==2.4.1
poster==0.8.1
profileservice-client==0.0.6dev
psycopg2==2.5
pycparser==2.09.1
pyflakes==0.5.0
pylint==0.26.0
pystache==0.5.3
python-dateutil==1.5
pytz==2013b
pyzmq==2.2.0.1
readline==6.2.2
redis==2.7.1
requests==1.2.0
sh==1.06
simplejson==2.6.2
six==1.2.0
smartypants==1.6.0.3
subprocess32==3.2.3
supervisor==3.0b1
svg.path==1.0b1
teena==0.0.2
tornado==2.3
unittest2==0.5.1
urecord==0.0.4
urllib3==1.5
virtualenv==1.9.1
webkit-image-composer==0.0.3
wheel==0.15.0
wsgiref==0.1.2
zmqc==0.1.0
zope.interface==4.0.3
