<!DOCTYPE html>
<html>
  <head>
    <title>Associated RFIDs for You</title>
  </head>
  <body>
    <h1>RFIDS</h1>
    <ul>
      {% for rfid in user.rfids.all %}
      <li>
        <tt>{{ rfid.rfid }}</tt>
        <form action="/delete-rfid/" method="post">
          {% csrf_token %}
          <input type="hidden" name="rfid" value="{{ rfid.rfid }}" />
          <input type="submit" value="Delete" />
        </form>
      </li>
      {% endfor %}
    </ul>

    <h2>Add RFID</h2>
    <form action="/" method="post">
      {% csrf_token %}
      {{ add_rfid_form }}
      <input type="submit" value="Add" />
    </form>
  </body>
</html>
